<nav class="navbar navbar-default navbar-static-top MainNav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']" routerLinkActive="active"><span class="glyphicon glyphicon-stop ikona"></span></a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse fullHeight">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/addRecipe']" routerLinkActive="active">Add Recipe</a></li>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['/register']" routerLinkActive="active">Register</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>