<h1>Add Recipe!</h1>
<form class="well" (submit)="addRecipe($event)">
    <div class="form-group">
        <div class="form-group">
            <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="title">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="description" name="description" class="form-control" placeholder="description">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="time" name="time" class="form-control" placeholder="time">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="step" name="step" class="form-control" placeholder="preparing">
            <span class="input-group-btn">
                 <button (click)="addStep()" [disabled]="!step" class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-plus"></span> Add step</button>
            </span>
        </div>
        <!-- Steps List Starts Here -->
        <ul class="list-group" *ngIf="preparing && preparing.length > 0">
            <li class="list-group-item clearfix task" *ngFor="let prepare of preparing; let i=index">
                <p class="lead">{{prepare}}
                    <span class="pull-right"><button (click)="deleteStep(i)" class="btn btn-danger btn-md" type="button">
                        <span class="glyphicon glyphicon-minus">Remove</span></button>
                    </span>
                </p>
            </li>
        </ul>
        <!-- Steps List Ends Here -->
        <div class="form-group">
            <input type="text" [(ngModel)]="image" name="image" class="form-control" placeholder="image url">
        </div>
        <br>
        <div class="form-group">
            <input type="text" [(ngModel)]="name" (keyup.enter)="name=''" class="form-control" name="name" placeholder="name of the ingredient">
            <input type="text" [(ngModel)]="quantity" (keyup.enter)="quantity=''" class="form-control" name="name" placeholder="quantity of the ingredient">
            <input type="text" [(ngModel)]="unit" (keyup.enter)="unit=''" class="form-control" name="name" placeholder="unit of the ingredient">
            <span class="input-group-btn">
                 <button (click)="addIng()" [disabled]="!name" class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-plus"></span> Add ingredient</button>
            </span>
        </div>

        <!-- Ingredients List Starts Here -->
        <ul class="list-group" *ngIf="ingredients && ingredients.length > 0">
            <li class="list-group-item clearfix task" *ngFor="let ingredient of ingredients; let i=index">
                <p class="lead">{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
                    <span class="pull-right"><button (click)="deleteIng(i)" class="btn btn-danger btn-md" type="button">
                        <span class="glyphicon glyphicon-minus">Remove</span></button>
                    </span>
                </p>
            </li>
        </ul>
        <!-- Ingredients List Ends Here -->
        <br>
        <button type="button submit" class="btn-lg btn btn-success btn-outline center-block">Save</button>
    </div>
</form>