.ikona
{
font-size: 50px;
    text-align: center;
     color:white;
     padding-top:0;
}

.MainNav{
    background-color: ffbb00;
    color:white;
}

.MainNav li
{
    line-height: 60px;
}

.father_img{
    position: relative;
    height: 400px;
    -webkit-box-shadow: inset -2px -105px 63px -29px rgba(0,0,0,0.78);
    -moz-box-shadow: inset -2px -105px 63px -29px rgba(0,0,0,0.78);
    box-shadow: inset -2px -105px 63px -29px rgba(0,0,0,0.78);
    margin-bottom: 30px;
}
.father_img img{
    position: absolute;
    height:100%;
    z-index: -1;
    
}

.child_img
{
    position: relative;
    top: 310px;
    left: 16px;
    font-size: 30px;
    max-width: 100%;
    color:white;
}
.child_tim{
    font-size:20px;
    color: AAA;
}
*{
box-sizing: border-box;
}
.ikonaa
{
    padding:5 15 5 15;
}

.navbar-right a
{
    font-weight: 700;
    padding-top:20px;
    font-size: 20px;
    text-decoration: none;
    color:white;
}
.navbar-right a:link
{
    text-decoration: none;
    color:white;
}
.navbar-right a:hover
{
    text-decoration: none;
    color:white;
}
.navbar-right a:visited
{
    text-decoration: none;
    color:white;
}
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}



