<section class="main">
    <h1>Latest Recipes</h1>

    <div class="recipe-list">
        <div *ngFor="let recipe of recipes" >
        <div class="col-md-4 col-xs-12 ">
            <a (click)="onSelect(recipe)"> 
            <div class="father_img">
                <img class="img-responsive img-rounded" src="{{recipe.image}}" alt="Brak obrazu" height="400"> 
                
                  <div class="child_img"> <p class="child_tim">{{recipe.time}}</p>
                  <p>{{recipe.title}}</p></div>
               
            </div>
             </a>
        </div>
        </div>
    </div>
    <hr>
</section>