<div class="container">
  <section class="main">
    <div *ngIf="recipe">
      <div class="row">
        <div class="col-md-7 col-xs-12 ">
          <img src="{{recipe.image}}" alt="brak zdjecia" class="img-responsive center-block" />
          <br>
          <p class="bigLines textColor">{{recipe.description}}</p>
        </div>
        <div class="col-md-5 col-xs-12">
          <h1>Ingredients</h1>
          <div class="col-md-3 col-xs-4 leftMargin0">
            <div *ngFor="let ingredient of recipe.ingredients">
              <div *ngIf="ingredient.quantity==''">
                <p class="textColor">{{ingredient.name}}</p>
              </div>
              <p class="textColor">{{ingredient.quantity}} {{ingredient.unit}}</p>
            </div>
          </div>
          <div class="col-md-9 col-xs-8">
            <div *ngFor="let ingredient of recipe.ingredients">
              <p class="textColor">{{ingredient.name}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12 ">
          <div *ngIf="recipe.preparing">
            <h1>Preparing</h1>
            <br>
            <div *ngFor="let prepare of recipe.preparing">
              <p class="bigLines textColor">{{prepare}}</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>